html{
    margin:0;
    padding:0;
}
body {
    font: 75% georgia, sans-serif;
    line-height: 1.88889;
    color: #555753;
    margin: auto;
    padding: 0;
}
h2 {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ff0000
}
p {
    text-align: left;
    font-size: 14px;
    color: blue;
    line-height: 25px;
    text-indent: 2em;
    width: auto;
    margin: auto;
}